<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Textarea With Vue</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <h1>Create textarea with Vue.js</h1>

        <div id="app">
            Top : <textarea v-model="textareaContent" placeholder="Anything You Enter Here"></textarea> <br />
            Bottom : <textarea v-model="textareaContent" placeholder="Also Appers Here"></textarea>
        </div>

        <script src="script.js"></script>
    </body>
</html>