<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Checkboxes With Vue</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <h1>Create checkboxes with Vue.js</h1>

        <div id="app">
            <div v-for="option in options">
                <input type="checkbox" v-bind:id="option.id" v-bind:value="option.value" v-model="checkedOptions" />
                <label v-bind:for="option.id">{{ option.content }}</label>
            </div>
            <span>{{ checkedOptions }}</span>
        </div>

        <script src="script.js"></script>
    </body>
</html>