body {
    color: #40c98d;
    background-color: #27394a;
    padding: 5%;
}

.card {
    background-color: #f9f9f9;
    width: 250px;
    height: 100%;
    display: inline-block;
    padding: 25px;
    border-radius: 10px;
    margin: 10px 10px;
    vertical-align: top;
    color: #27394a;
}

img {
    height: 150px;
    padding: 5px;
}

img:hover {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
}

button {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin-top: 15px;
}

button:hover {
    padding: 8px;
    margin-top: 19px;
    background-color: #27394a;
    color: white;
}