<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Radio Button With Vue</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <h1>Create radio buttons with Vue.js</h1>

        <div id="app">
            <p>Choose one please:</p>
            <input type="radio" id="1" value="man" v-model="radioButtonPicked" />
            <label for="1">Male</label>
            <input type="radio" id="2" value="woman" v-model="radioButtonPicked" />
            <label for="2">Female</label>
            <input type="radio" id="3" value="none" v-model="radioButtonPicked" />
            <label for="3">None</label>
            <div>{{ radioButtonPicked }}</div>
        </div>

        <script src="script.js"></script>
    </body>
</html>