<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Dropdown List With Vue</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <h1>Create dropdown list with Vue.js</h1>

        <div id="app">
            <select v-model="selected">
                <option v-for="item in items" v-bind:value="item.value">
                    {{ item.content }}
                </option>
            </select>
            <p> What you select : {{ selected }} </p>
        </div>

        <script src="script.js"></script>
    </body>
</html>