<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>To Do List</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>

        <h1>Build Interactive todo list with Vue.js</h1>

        <div id="app">
            <form v-on:submit.prevent="addNewTask">
                <label for="task-input">Add a new task</label>
                <input 
                    id="task-input" 
                    placeholder="Eg. Watch Vue Course"
                    v-model="newTask"
                />
                <label for="rangeInput">Set Priority</label>
                <input id="rangeInput" type="range" min=0 max=5 v-model="currentPriority" oninput="amount.value=rangeInput.value" />
                <span>{{ currentPriority }}</span>
                <button>Submit</button>
            </form>
            <button v-on:click="sortTasks(-1)">Show Newest</button>
            <button v-on:click="sortTasks(1)">Show Lastest</button>
            <button v-on:click="sortByPrio(-1)">High Priority</button>
            <button v-on:click="sortByPrio(1)">Low Priority</button>
            <table>
                <todo-item 
                    v-for="(task,index) in tasks" 
                    :title="task.title"
                    :time="task.createTime"
                    :key="task.id"
                    :priority="task.priority"
                    @remove="tasks.splice(index,1)"
                ></todo-item>
            </table>
        </div>

        <script src="script.js"></script>

    </body>
</html>