<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>To Do List</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>

        <h1>Build Interactive todo list with Vue.js</h1>

        <div id="app">
            <form v-on:submit.prevent="addNewTask">
                <label for="task-input">Add a new task</label>
                <input 
                    id="task-input" 
                    placeholder="Eg. Watch Vue Course"
                    v-model="newTask"
                />
                <button>Submit</button>
            </form>
            <ul>
                <todo-item 
                    v-for="(task,index) in tasks" 
                    :title="task.title"
                    :key="task.id"
                    @remove="tasks.splice(index,1)"
                ></todo-item>
            </ul>
        </div>

        <script src="script.js"></script>

    </body>
</html>