<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>To Do List</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>

        <h1>Build Interactive todo list with Vue.js</h1>

        <div id="app">
            <form v-on:submit.prevent="addNewTask">
                <label for="task-input">Add a new task</label>
                <input 
                    id="task-input" 
                    placeholder="Eg. Watch Vue Course"
                    v-model="newTask"
                />
                <label for="rangeInput">Set Priority</label>
                <input id="rangeInput" type="range" min=0 max=5 v-model="currentPriority" oninput="amount.value=rangeInput.value" />
                <span>{{ currentPriority }}</span>
                <button>Submit</button>
            </form>
            <button v-on:click="sortTasks(-1)">Show Newest</button>
            <button v-on:click="sortTasks(1)">Show Lastest</button>
            <button v-on:click="sortByPrio(-1)">High Priority</button>
            <button v-on:click="sortByPrio(1)">Low Priority</button>
            <button v-on:click="getAllTasks">Download</button>
            <table>
                <tbody>
                    <todo-item 
                        v-for="(task,index) in tasks" 
                        :title="task.title"
                        :time="generateDate(task.createTime)"
                        :key="task.id"
                        :priority="task.priority"
                        @remove="tasks.splice(index,1)"
                    ></todo-item>
                </tbody>
            </table>
        </div>

        <script src="script.js"></script>

    </body>
</html>