<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <div id="app">
                <div v-if="lightOn">On</div>
                <div v-else>Off</div>
                <button @click="switchIt">Switch</button>
            </div>

            <div id="game">
                <div v-if="state % 3 == 0">Zero state</div>
                <div v-else-if="state % 3 == 1">First state</div>
                <div v-else>Second state</div>
                <button v-on:click="nextNode">Next</button>
                <button v-on:click="prevNode">Back</button>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
        <script src="conditional-rendering.js"></script>
    </body>
</html>
