<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Database</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="https://unpkg.com/vue@next"></script>
        <script type="text/x-template" id="grid-template">
            <table>
                <thead>
                    <tr>
                        <th v-for="key in columns"
                            @click="sortBy(key)"
                            :class="{ active: sortKey == key }">
                            {{ capitalize(key) }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entry in filteredTitles">
                        <td v-for="key in columns">
                            {{ entry[key] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </script>
    </head>
    <body>
        <h1>Create a database with Vue.js</h1>
        <div id="database-website">
            <form id="search">
                <p>Search</p>
                <input title="searchField" v-model="searchInput" />
            </form>
            <database-website-component
                :entries="dataSet"
                :columns="dataColumns"
                :filter-Key="searchInput"
            >
            </database-website-component>
        </div>
        <script src="script.js"></script>
    </body>
</html>
