/* Style codes */
body {
    font-family: sans-serif;
    color: #40c98d;
    background-color: #27394a;
    padding: 2% 5%;
}

table {
    background-color: #40c98d;
    color: #27394a;
    border-radius: 5px;
    padding: 5px;
}

th, td {
    padding: 5% 1%;
    min-width: 250px;
}

th {
    cursor: pointer;
    font-size: 25px;
}

th.active {
    color: white;
}

td {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

input {
    font-size: 100%;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    width: 200px;
}
