<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Vue Menu</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <h1>Build A Menu With Vue.js</h1>

        <div id="app">
            <ul>
                <li v-for="type in menu">
                    {{ type.name }}
                    <ol style="padding: 20px;">
                        <li v-for="item in type.foods">
                            <ul style="list-style-type: none;">
                                <li style="padding: 5px;" v-for="(value, key) in item">
                                    {{ key }} : {{ value }}
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>
            </ul>
        </div>

        <script src="script.js"></script>
    </body>
</html>